<form id="formInvoiceSelect" class="form-inline">
    <label class="input">
        Rechnungsvorlage für diese Buchung:
        <select>
            {{#each invoices}}
            <option value="{{Invoice.id}}">{{Invoice.name}}</option>
            {{/each}}
        </select>

        <div class="btn-group">
            <button class="btn btn-small btn-edit">Bearbeiten</button>
            <button class="btn btn-small btn-create">Neue Anlegen</button>
            <button class="btn btn-small btn-danger btn-destroy">Auswahl löschen</button>
        </div>
    </label>
</form>

<div id="formInvoiceData" style="display: none;">
    <div class="well">
        <form id="formInvoice" class="form-horizontal form-invoice">
            <p class="lead">Rechnungsdaten</p>
            <hr/>
            <div class="control-group">
                <label class="control-label">Rechnung an</label>

                <div class="controls">
                    <select>
                        {{#each types}}
                        <option type="text" name="type_name" class="span3" value="{{Type.name}}">{{Type.display}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="business">
                <div class="control-group">
                    <label class="control-label">Institution</label>

                    <div class="controls">
                        <input type="text" name="institution" class="span3" value=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Abteilung</label>

                    <div class="controls">
                        <input type="text" name="department" class="span3" value=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Hauspostfach</label>

                    <div class="controls">
                        <input type="text" name="postbox" class="span3" value=""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Zu Händen</label>

                    <div class="controls">
                        <input type="text" name="to_person" class="span3" value=""/>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Straße</label>

                <div class="controls">
                    <input type="text" name="street" class="span3" value=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">PLZ</label>

                <div class="controls">
                    <input type="text" name="zip" class="span3" value=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Ort</label>

                <div class="controls">
                    <input type="text" name="location" class="span3" value=""/>
                </div>
            </div>
            <hr/>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn btn-save">Speichern</button>
                    <button type="button" class="btn btn-danger btn-cancel">Abbrechen</button>
                </div>
            </div>
        </form>
    </div>
</div>